<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
    <body>
        <footer th:fragment="footer" class="bg-dark text-light py-2 mt-auto">
            <div class="container text-center">
                <p class="mb-0 small">
                    <i class="fa-solid fa-film"></i>
                    Golden Raspberry Awards - Management System | Developed with Spring Boot and
                    Hexagonal Architecture
                </p>
            </div>
        </footer>
    </body>
</html>
